<div class="contents">
<h1 class="title">ようこそ、Bookes へ！</h1>
<div class="txt-area">
<p class="txt">Bookers では、さまざまな書籍に関するあなたの意見や<br>印象を共有し交換することができます</p>
<%= link_to  "start", books_path, class: "btn" %>
</div>
</div>